@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Syne+Mono&display=swap');

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Kiwi Maru', sans-serif;
}
/**********************NAVBAR**********************/
.navbar-brand {
  font-family: "Syne Mono";
  font-weight: bold;
}
/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(images/concert.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 650px;
  }
  h1 {
    font-family: 'Syne Mono', cursive;
    text-align: center;
    color: rgb(253, 250, 222);
    font-size: 4em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }
  #premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: rgb(253, 250, 222);
    box-shadow: 1px 3px 2px black;
  }
  h2 {
    text-align: center;
    color:rgb(253, 250, 222);
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
  }
  /**********************************DESCRIPTION***************************/
  .description {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  p {
    padding-left: 2%;
    padding-right: 2%;
  }
  /**********************************ARTISTES******************************/
  h3 {
    font-family: "Syne Mono";
    font-size: 2em;
  }
  img {
    margin-bottom: 15%;
  }
  h4 {
    font-family: "Syne Mono";
    font-size: 3rem;
  }
  .bg-2 {
    background-color: rgba(0, 0, 0, 0.473);
    color: rgb(253, 250, 222);

  }